################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloSFML/.vs/HelloSFML/v15
/Timber/.vs/Timber/v15
/Timber/Debug
/Timber/Timber/Debug
